!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
/ <![endif]
%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %title Ben Coullie: Portfolio
  %meta{:content => "A simple page designed to efficiently display my portfolio of online work.", :name => "description"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %link{:href => "favicon.ico", :rel => "icon", :type => "image/ico"}/
  %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,100,900,700,500", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel => "stylesheet"}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "css/custom.css"}
  %script{:src => "js/vendor/modernizr-2.6.2.min.js"}
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<\/script>')

%body
  /[if lt IE 7]
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  #landingpage
  #aboutpage
    %h1.subpagehead
      %span.h1span &lt;!--
      About
      %span.h1span
        \--&gt;
        %span/
    .dots
      %img{:alt => "", :src => "img/dots.svg"}
    %br.showonmid
    %br.showonmid
    .gridmain
      .infoblock.firstt
        %hr
          %i.fa.fa-user
          %h3 Essentials
          %hr
            .subsection
              %p.infop
                %span.cata> Name:
                Ben Coullie
              %p.infop
                %span.cata> Age:
                24
              %p.infop
                %span.cata> Location:
                Mungyeong, South Korea
              %p.infop
                %span.cata CV:
                %a{:href => "assets/resume.pdf"} Short-n-sweet version
              %p.infop
                %span.cata> Favorite cereal:
                Oaties
      .infoblock.second.secondd
        %hr
          %i.fa.fa-pencil
          %h3 Education
          %hr
            .subsection
              %p.infop
                %span.cata> Degree:
                Bachelor of Journalism (4 years)
              %p.infop
                %span.cata Institution:
                %a{:href => "http://www.ru.ac.za/jms/degreesanddiplomas/undergraduate/"} Rhodes University
                (South Africa)
              %p.infop
                %span.cata> Specialisation:
                New and Online Media
              %p.infop
                %span.cata> Achievements:
                Cum laude, full academic colours, Dean's academic list
            %hr
              .subsection
                %p.infop
                  %span.cata> Course:
                  Front End Web Design Bootcamp
                %p.infop
                  %span.cata Institution:
                  %a{:href => "http://www.yoobee.ac.nz/web/web-design-front-end-bootcamp"} Yoobee School of Design
                %p.infop
                  %span.cata> Length:
                  12 weeks
      .infoblock.thirdd
        %hr
          %i.fa.fa-gamepad
          %h3 Personal
          %hr
            .subsection
              %p.infop
                %span.cata Passions:
                = succeed "," do
                  %a{:href => "https://soundcloud.com/durbanfromfar"} Composing music
                interweb culture, travel and shifting digital design patterns (seriously)
              %p.infop
                %span.cata Game of choice:
                Dota 2 (4700 mmr)
              %p.infop
                %span.cata Sport of choice:
                Squash
              %p.infop
                %span.cata Design philosophy:
                Responsive, material and minimal
              %p.infop
                %span.cata> Drink:
                Stout beer
      .infoblock.fourthh
        %hr
          %i.fa.fa-users
          %h3 Digital Shadow
          %hr
            .subsection
              %a{:href => "http://www.linkedin.com/pub/ben-coullie/7a/b79/913", :title => "LinkedIn"}
                %i.fa.fa-linkedin-square
              %a{:href => "https://plus.google.com/u/0/103035234822073438958/about", :title => "Google+"}
                %i.fa.fa-google-plus-square
              %a{:href => "https://twitter.com/BenCoullie", :title => "Twitter"}
                %i.fa.fa-twitter-square
              %a{:href => "https://www.facebook.com/benjamin.coullie", :title => "Facebook"}
                %i.fa.fa-facebook-square
              %a{:href => "https://github.com/bencoullie", :title => "Github"}
                %i.fa.fa-github
  #portfoliopage
    %h1.subpagehead
      %span.h1span &lt;!--
      Work
      %span.h1span
        \--&gt;
        %span/
    .dots
      %img{:alt => "", :src => "img/dots.svg"}
    %br.showonmid
    .gridmain
      .columndiv
        .svgbox.box.noleftpls
          %a{:href => "http://www.trulyandmadly.com/"}
            %img{:alt => "Truly and Madly", :height => "auto", :src => "img/tandmlogo.png", :width => "auto"}
              .captionbox
        .sillybox.noleftpls
          .subimageblock
            %h3 Truly and Madly
          .subimageblockforp
            %br
            %p
              New Zealand's no.1 wedding website, app and store. While at
              = succeed "," do
                %a{:href => "http://www.hatch.nz/"} Hatch
              I worked on both the front and back ends.
      %br.showonsmall
      %br.showonsmall
      .columndiv
        .svgbox.box.second
          %a{:href => "http://www.stevenslawson.co.nz/"}
            %img{:alt => "Stevens Lawson", :height => "auto", :src => "img/sandl-logo.png", :width => "auto"}
              .captionbox.second
        .sillybox.secondcap
          .subimageblock
            %h3 Stevens Lawson Architects
          .subimageblockforp
            %br
            %p
              One of New Zealand's top architecture firms. While at
              = succeed "," do
                %a{:href => "http://www.hatch.nz/"} Hatch
              I worked on both the front and back ends.
      %br.showonsmall
      %br.showonsmall
      .columndiv
        .svgbox.box
          %a{:href => "https://www.unyouth.org.nz/"}
            %img{:alt => "UN Youth", :height => "auto", :src => "img/unyouth-logo.png", :width => "auto"}
              .captionbox
        .sillybox
          .subimageblock
            %h3 UN Youth
          .subimageblockforp
            %br
            %p
              While at
              = succeed "," do
                %a{:href => "http://www.hatch.nz/"} Hatch
              I helped design, implement the front-end and code the rails back-end.
      %br.showonsmall
      %br.showonsmall
      .columndiv
        .svgbox.box.second.row2.noleftpls
          %a{:href => "http://bencoullie.github.io/durbanfromfar/"}
            %img{:alt => "Durban From Far", :height => "auto", :src => "img/dff-logo.gif", :width => "auto"}
              .captionbox
        .sillybox.secondcap.noleftpls
          .subimageblock
            %h3 Durban From Far
          .subimageblockforp
            %br
            %p
              A minimal, flat website designed to showcase
              = succeed "," do
                %a{:href => "https://soundcloud.com/durbanfromfar"} my music
              new album releases and songs.
      %br.showonsmall
      %br.showonsmall
      .columndiv
        .svgbox.box.row2
          %a{:href => "http://bencoullie.github.io/farcry"}
            %img{:alt => "Far Cry 3", :height => "auto", :src => "img/farcry-logo.png", :width => "auto"}
              .captionbox
        .sillybox
          .subimageblock
            %h3 Far Cry 3
          .subimageblockforp
            %br
            %p
              A smooth, responsive mock-up advert design for
              = succeed "." do
                %a{:href => "http://www.mediaworks.co.nz/interactive/"} MediaWorks Interactive
              JS, CSS, HTML.
      %br.showonsmall
      %br.showonsmall
      .columndiv
        .svgbox.box.second.row2
          %a{:href => "http://koalababyorganics.co.nz/"}
            %img{:alt => "Koala Baby", :height => "auto", :src => "img/koala-logo.jpg", :width => "auto"}
              .captionbox
        .sillybox.secondcap
          .subimageblock
            %h3 Koala Baby
          .subimageblockforp
            %br
            %p
              While at
              = succeed "," do
                %a{:href => "http://www.hatch.nz/"} Hatch
              I helped design and code the front-end. I also integrated the shopify back-end.
    #contactpage
      %h1.subpagehead
        %span.h1span &lt;!--
        Contact
        %span.h1span
          \--&gt;
          %span/
      .dots
        %img{:alt => "", :src => "img/dots.svg"}
      %br
      %br.hideonsmall
      %br.hideonsmall
      %br.showonsmall
      .contacthead
        .imgcircle
          %a{:href => "mailto:bencoullie@gmail.com", :title => "Email bencoullie@gmail.com"}
            %i.fa.fa-envelope-o
          %p Let's keep this simple.
      %footer
        %span.copything> &copy;
        Ben Coullie
